*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  overflow: hidden;
}

.scene, canvas{
  position: absolute;;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
}


picture img{
  height: 100vh;
  width: 100%;
}



/*======================
========Pre-loader==========
========================*/
.Pre-loader{
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #75bbfd;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Pre-loader__text{
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.Pre-loader.finish{
  display: none;
}
.Pre-loader picture img{
  height: 200px;
  animation: airplane 1s infinite linear;
}
@keyframes airplane {
  0%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-50px);
  }
}
.cloud{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  right: 0;
  position: absolute;
  width: 100%;
}
  .cloud1,
  .cloud2,
  .cloud3 {
    height: 250px;
    transform: translateX(100%);
    width: 100%;
    right: 0;
    position: relative;
  }
    .cloud1{
      animation: cloud 3s linear infinite;
    }
    .cloud2{
      animation: cloud 5s linear infinite;
    }
    .cloud3{
      animation: cloud 2s linear infinite;
    }
@keyframes cloud {
  0%{
    right: 0;
    transform: translateX(100%);
  }
  100%{
    right: 100%;
    transform: translateX(0%);
  }
}
