body {
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
  font-family: sans-serif;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 70%;
  height: 99vh;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  position: relative;
}

.animation {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ellipse {
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 100%;
}

.text {
  padding: 20px 0;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.input__name, .input__pass {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100em;
  max-width: 20em;
  height: 30px;
}

.btn {
  border: 1px solid #ccc;
  background: #222;
  color: #ccc;
  font-family: sans-serif;
  font-style: italic;
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #191;
}