Body {
  margin: 0px; /*Сброс отступа*/
  background: var(--color1);
  font-size: 14px; /*Размер шрифта*/
  color: var(--color_text); /*Цвет шрифта*/
  background-color: var(--color3);
  -webkit-font-smoothing: antialiased; /*Сглaживание шрифта*/

  height: 1000px;


  text-align: center;
  font-size: 30px;
  cursor: default;

}

canvas { width: 100%; height: 100% }

a{
  /* cursor: none; */
}

:root {
  --color1: #202225;
  --color2: #2F3136;
  --color3: #36393F;
  --color_text: #959595;
}

h1,h2,h3,h5,h4,h6 {margin: 0;}
*,
*:before,
*:after{
  box-sizing: border-box;
}


.container{
  max-width: 1230px;

  margin: 0 auto;
  padding: 0 15px;
}
/*======================
========Cursor==========
========================*/
#cursor, #aura{
  position: absolute;
  border-radius: 100%;
  transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform;
  transition: .2s cubic-bezier(.75,-1.27,.3,2.33) opasity;
  user-select: none;
  pointer-events: none;
  z-index: 99999;

  display: none;
}


#cursor{
  width: 8px;
  height: 8px;
  background-color: #FFF;
  transform: scale(1);
}

#cursor.active{
  opacity: 0;
  transform: scale(0);
}

#aura{
  width: 46px;
  height: 46px;
  border: 1px solid #ccc;
  background: rgba(53, 53, 53, 0.5);
  transform: translate(5px, 5px);
}

#aura.active{
  width: 36px;
  height: 36px;
}


.hidden{
  display:none;
}



/*======================
========HEADER==========
========================*/


.header{
  height: 84px;
  background: var(--color1);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 30px #000;
}



.Header__content{


  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding: 15px 0;
  /*! z-index: 2; */
}



.Header__placeholder{
}

.Header__navigation{
}



.Header__link{
  font-size: 14px;
  font-weight: bold;
  border: 2px solid var(--color3);
  padding: 10px;
  text-decoration: none;
  color: var(--color_text);
  margin-left: 20px;
  transition: .3s;
}
  .Header__link:hover{
   background: var(--color3);
   border: 2px solid var(--color1);
   /* border-radius: 15px; */

   color: #FFF;
  }



.Burger{
  width: 50px;
  height: 50px;
  z-index: 1000;
  border: 1px solid #fff;
  margin-right: 30px;
  cursor: pointer;
  justify-content: center;
  /*! border-radius: 100%; */
  align-items: center;
  display: none;
  transition: 1s;
}



.Burger .burger__span.active,
.Burger .burger__span.active::after{
  background: #de0b05;
}



.burger__span{
  display: block;
  width: 40px;
  height: 3px;
  /*! margin-top: 10px; */
  background: #FFF;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: .7s;
}
  .burger__span.active{
    transform: translateY(0);
    box-shadow: 0 0 0 #fff0;
    transform: rotate(45deg);
  }



.burger__span::after{
  display: block;
  width: 40px;
  height: 3px;
  content: "";
  /*! bottom: 12px; */
  position: relative;
  background: #FFF;
  transition: .7s;
  transform: translateY(+20px);
}
  .burger__span.active::after{
    transform: translateY(0);
    transform: rotate(90deg);
  }



.btn{
  background: var(--color1)
  border: 2px solid var(--color3);
  color: var(--color_text);
  padding: 15px;
  margin-top: 10px;
  transition: .3s;
  /* cursor: none; */
}
  .btn:hover{
    background: var(--color3);
    /*! border-radius: 15px; */
    color: #FFF;
  }



/*======================
========INTRO==========
========================*/


.intro{
  height: 1080px;
  padding: 25px 0;
  background: var(--color3);
  border-bottom: 2px solid var(--color1);
  padding-top: 100px;
}



.intro__content{

}



/*======================
========SLIDER==========
========================*/


.slider{
  border: 2px solid var(--color1);
  height: auto;
  max-width: 90%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  transition: 1s
}
  .slider:hover{
/*     border: 2px solid #fff; */
    box-shadow: 0 0 39px #fff3
  }



.slider__line{
  display: flex;
  transition: all ease 1s;
}



.slider__line img{
 max-width: 1080px;
}



.slide__pointer{
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
}



.slider__btn{
  position: absolute;
  top: 42%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 50;
}

/*---------- Btn_slider ----------*/

.slider:hover .Btn_slider_next, .slider:hover .Btn_slider_back{
  opacity: 1;
}

.Btn_slider_next, .Btn_slider_back{
  /*! border: 1px solid #ccc; */
  /*! border-radius: 100%; */
  top: 40%;
  width: 20px;
  height: 20px;
  padding: 30px;
  display: block;
  background-color: #3337;
  position: absolute;
  z-index: 55;
  opacity: 0;
  /*! height: 900px; */
}
  .Btn_slider_next{
    right: 0;
  }
  .Btn_slider_back{
    left: 0;
  }
    .Btn_slider_next:hover, .Btn_slider_back:hover{
      background-color: var(--color2);
    }


.Btn_slider_next__row, .Btn_slider_back__row{
  position: relative;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px;
}
  .Btn_slider_next__row{
    transform: rotate(-225deg);
    top: -5px;
    left: -7px;
  }
  .Btn_slider_back__row{
    transform: rotate(-45deg);
    top: -5px;
    left: -2px;
  }


  /* ------------- SPline -----------------*/

.spLine{
  position: absolute;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  bottom: 5%;
  z-index: 50;
  left: 40%;
  padding: 0;
}

.spLine__un__btn{
  width: 45px;
  height: 10px;
  background: #999;
  margin: 5px;
  border: 1px solid #000;
  list-style-type: none;
  transition: .2s linear;
  overflow: hidden;
}

.spLine__un__btn:hover{
  height: 20px;
  margin: -3px 5px;
}

.spLine__un__btn.active::after{
  content: "";
  width: 100%;
  width: 0px;
  height: 100%;
  display: block;
  background: var(--color_text);
/*   top: 10px; */
  position: relative;
  transform-origin: 0 0;
  transform: scaleX(1);
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.spLine__un__btn.active{
  background: var(--color3);
}

.slider:hover .spLine__un__btn.active::after{
  animation-play-state: paused;
}

.spLine__un__btn.active::after{
 animation: loading 7.3s linear;
}

@keyframes loading {
  0%{
    width: 0px;
  }
  /* 50%{
    width: 21px
  } */
  100%{
    width: 43px;
  }
}

/*======================
========block_1==========
========================*/

.block_1{
  min-height: 200px;
   padding: 25px 0;
  border-bottom: 2px solid var(--color1);
}



































































































/*======================
========FOOTER==========
========================*/

.footer{
  padding: 25px 0;
  height: 200px;
  background: var(--color1);

}

.footer__content{


}


/*=============================================
===============MEDIA===========================
================================================
=================MEDIA==========================
================================================
==============================================*/

@media (max-width: 1024px) {





}


/*=============================================
===============____800px___====================
==============================================*/


@media (max-width: 800px) {

#cursor, #aura{
  display: none;
}


/*=======Header========*/
.Header__navigation{
  display: grid;
  grid-template-rows: repeat(4,auto);
  background: var(--color1);
  grid-column: 1/-1;
  position: relative;
  transition: all ease .6s;
  overflow: hidden;
  height: 0;
  top: 4%;
}

.Burger__active{
  display: grid;
  /*! top: 4%; */
  height: 350px;
}

.Burger{
  display: grid;
}

.Header__link{
  margin: 0;
  padding: 30px 0px;
  font-size: 20px;
}

/*=======intro ========*/

.Btn_slider_back{
  display: none;
}
.Btn_slider_next{
  display: none;
}



/* =======  SLder ======== */

@keyframes loading {
  0%{
    width: 0px;
  }
  /* 50%{
    width: 21px
  } */
  100%{
    width: 0px;
  }



}/*=============================================
===============____600px___====================
==============================================*/


@media (max-width: 600px) {








}/*=============================================
===============____480px___====================
==============================================*/


@media (max-width: 480px) {

.spLine__un__btn{
  width: 30px;
}






}/*=============================================
===============____380px___====================
==============================================*/


@media (max-width: 380px) {





}
