Body {
  margin: 0px; /*Сброс отступа*/
  background: var(--color1);
  font-size: 14px; /*Размер шрифта*/
  color: #494949; /*Цвет шрифта*/
  background-color: var(--color1);
  -webkit-font-smoothing: antialiased; /*Сглaживание шрифта*/

  font-family: 'Arbutus Slab', serif;
  font-family: 'Raleway', sans-serif;

  /* font-family: 'Scheherazade New', serif; */
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 30px;
  cursor: default;

  letter-spacing: 2px;
}


:root {
  --color1: #DBEEEE;
  --color2: #3D9090;
  --color3: #000000;
  --color_text1: #000;
  --color_text2: #fff;
}

h1,h2,h3,h5,h4,h6,p,b {margin: 0; padding: 0;}
*,
*:before,
*:after{
  box-sizing: border-box;
}


.container{
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container__H{
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;

}



.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  justify-content: center;
  align-items: center;
}




/*======================
========HEADER==========
========================*/


.header{
  height: 120px;
  background: #42a8f600;
  width: 100%;
}
.header__active{
  background: #42a8f6db;
}


.Header__content{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}



.Header__placeholder{
}

.Header__navigation{
  display: flex;
}



.Header__link{
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  margin-left: 20px;
  padding: 10px;
  transition: .3s;
  border-radius: 15px;
  height: 40px;

  transition: 0.2s;
  color: var(--color2);
}

.Header__link:hover{
  color:  var(--color3);
}


.Burger{
  width: 50px;
  height: 50px;
  z-index: 1000;
  border: 1px solid #fff;
  margin-right: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 1s;
}



.Burger .burger__span.active,
.Burger .burger__span.active::after{
  background: #de0b05;
}



.burger__span{
  display: block;
  width: 40px;
  height: 3px;
  background: #FFF;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: .7s;
}
  .burger__span.active{
    transform: translateY(0);
    box-shadow: 0 0 0 #fff0;
    transform: rotate(45deg);
  }



.burger__span::after{
  display: block;
  width: 40px;
  height: 3px;
  content: "";
  position: relative;
  background: #FFF;
  transition: .7s;
  transform: translateY(+20px);
}
  .burger__span.active::after{
    transform: translateY(0);
    transform: rotate(90deg);
  }




/*======================
========INTRO==========
========================*/

.intro{
  font-size: 24px;
  color: var(--color3);
  text-align: left;
  font-weight: 100;
  line-height: 120%;
}

.intro__contetn{
  border-bottom: 1px solid #C4C4C4;
  position: relative;
  padding-bottom: 339px;
}

.intro__text{
  width: 599px;
  margin-top: 28px;
  padding-bottom: 80px;

  position: absolute;
  left: 0;
  top: 0;
}

.intro__picture{
  position: absolute;
  top: 0;
  right: 0;

}

.intro__img__1{
  height: 800px;
  position: relative;
  z-index: 2;

}

.night__on{
  opacity: 1 !important;
}

.intro__img__2{
  height: 800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.2s;
}



.intro__img__lamp{
  position: absolute;
  z-index: 3;
  height: 225px;
  top: -68px;
  left: 0;
  transition: 0.5s;
  opacity: 0;
}
.lamp__hidden{
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.intro__img__lamp__active{
  left: 158px;
  opacity: 1;
}

.intro__img__lamp__preactive{
  left: 300px;
  opacity: 0;
}

.menu{
  width: 200px;
  height: 440px;
  background: #BDDDDD;
  border-radius: 10px;
  position: absolute;
  bottom: 18px;
  left: -30%;
  z-index: 1;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;


}

.button__lamps{
  margin-top: 15px;
  width: 120px;
  height: 100px;

  border-radius: 14px;
  transition: 0.3s;


  display: flex;
  justify-content: center;

}
.button__lamps:hover{
  background: #cde5e5;
}
.button__lamps__active{
  background: #deeeee !important;
}

.button__lamps__img{
  height: 70px;
}

.buttons{
  display: flex;
  position: absolute;
  bottom: 0;
}

.light{
  width: 100px;
  height: 75px;
  background: #FFF3DA;
}

.night{
  width: 100px;
  height: 75px;
  background: #94A6A6;

}




/*======================
========BLOCK__1==========
========================*/

.block__1{
  /* background: #ff0000; */

}
.container__block__1{
  position: relative;
}
.block__1__content{
  display: flex;
  position: absolute;
  left: -200px;
  opacity: 0;
  transition: 0.5s;

}
.block__1__content__active{
  opacity: 1;
  left: 0px;
}
.block__1__content__preactive{
  opacity: 0;
  left: 500px;
}


.ellipse{
  height: 350px;
  width: 350px;
  border-radius: 100%;
  background: #F0E0C9;
  margin-top: 25px;
  position: relative;
  left: -38px;
}

.characteristic{
  font-size: 16px;
  text-align: left;
}

.block__1__picture{
  position: relative;
  left: -50px;
}

.block__1__img__1{
  height: 450px;
}


/*======================
========BLOCK__2==========
========================*/

.block__2{

}




/*======================
========BLOCK__3==========
========================*/

.block__3{

}




/*======================
========BLOCK__4==========
========================*/

.block__4{

}
